*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 10vh;
    background-color: rgb(9, 156, 248);
    text-align: center;
    line-height: 10vh;
    font-size: 3em;
}
body{
    background-color: #C9E6F0;
}
main{
    height: 90vh;
    text-align: center;
    font-size: 1.7em;
}
video{
    height: 40vmin;
    width: 60vmin;
}